/* style.css */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;
    } 
    
.header{
height: 20em;
background-image: url("../img/inicio.jpg");
background-size: cover;
background-position: center;
}

.header h1{
    margin: 0px;
    }

